body {
  padding-top: 70px;
  background-color: #0e1414;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.8;
}
img {
  max-width: 100%;
}
section {
  padding: 60px 0;
}
@media only screen and (max-width: 767px) {
  .col-sm-4 {
    margin-bottom: 30px;
  }
}
.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.modal-content img {
  width: 100%;
}
button.close {
  position: absolute;
  right: 0;
  top: -5px;
  color: #ffffff;
  padding: 10px;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close:focus,
button.close:hover {
  color: #ffffff;
  filter: alpha(opacity=70);
  opacity: .7;
}
.omtest {
  color: #ffffff;
}
.omtest a {
  color: #ffffff;
  transition: color .3s ease;
}
.omtest a:hover,
.omtest a:focus {
  color: #cf1430;
  text-decoration: none;
}
.omtest h3 {
  text-transform: uppercase;
  font-weight: 200;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}
.omtest h6 {
  text-transform: uppercase;
  color: #cf1430;
}
.omtest ul {
  list-style-type: none;
  padding-left: 0;
}
.omtest li {
  position: relative;
  padding-left: 15px;
}
.omtest li:before {
  content: '-';
  position: absolute;
  left: 0;
}
.omtest .top-buffer {
  margin-top: 30px;
}
.omtest .image-col {
  text-align: center;
}
.omtest .image-col img:not(:first-child) {
  margin-top: 30px;
}
.omtest .image-col img {
  width: 100%;
  cursor: pointer;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}
.omtest .image-col img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.omtest #experience .row {
  display: table;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .omtest .image-col,
  .omtest .text-col {
    display: table-cell;
    vertical-align: top;
  }
}
@media only screen and (min-width: 768px) {
  .omtest .image-col,
  .omtest .text-col {
    width: 33.3333%;
  }
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .omtest #experience .row {
    margin-left: 0;
  }
  .omtest .image-col img {
    width: auto;
  }
  .omtest .text-col {
    display: table-header-group;
  }
  .omtest .image-col {
    margin-top: 30px;
  }
}
.omtest #colours h3 {
  display: inline-block;
}
.omtest #colours .image-box {
  cursor: pointer;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}
.omtest #colours .image-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
footer {
  background-color: #000000;
}
footer p {
  margin-bottom: 0;
  padding: 5px 15px;
}
